:root {
  --primary: #010101;
  --background: #fff;
  --eden: rgb(48, 112, 48);
  --submit: rgb(1, 103, 255);
}

.darkmode {
  --primary: #fff;
  --background: #010101;
  --eden: rgb(48, 112, 48);
  --submit: rgb(1, 103, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.navbar .icon {
  width: 1.2rem;
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--primary);
}

.navbar {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-logo {
  color: var(--primary);
}
.navbar .navbar-logo span {
  font-weight: 700;
}

.navbar .navbar-navigation a {
  display: inline-block;
  margin: 0.8rem;
  color: var(--primary);
}
.navbar .navbar-navigation a::after {
  content: "";
  display: block;
  padding-bottom: 0.4px;
  border-bottom: 0.2rem solid var(--primary);
  transform: scaleX(0);
}
.navbar .navbar-navigation a:hover::after {
  transition: 0.5s;
  transform: scaleX(0.5);
}

.navbar .navbar-hire {
  font-weight: 700;
  color: var(--primary);
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

form {
  color: var(--eden);
}

fieldset {
  border: none;
}

h1 {
  margin: 40px auto;
  color: var(--primary);
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 6px 10px;
  border: 1px solid var(--background);
  background-color: var(--background);
  margin: 10px auto;
}

li h4 {
  color: var(--primary);
  margin: 0;
  text-transform: capitalize;
}

li p {
  color: var(--primary);
  margin: 8px 0 0;
}

footer {
  background: var(--background);
  padding: 60px;
  margin-top: 60px;
}

form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: var(--primary);
  margin: 16px 0 6px;
}

input,
select {
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.field {
  display: inline-block;
  margin: 0 10px;
}

button {
  color: var(--background);
  border: 0;
  background: var(--primary);
  padding: 6px;
  min-width: 80px;
  border-radius: 4px;
}

footer a {
  text-align: center;
  display: block;
  color: var(--primary);
  margin-top: 40px;
  font-size: 0.7em;
}
